.container {
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
  position: relative;
  background-color: var(--background-dark);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.container > section {
  flex: 1;
  width: 100%;
  min-height: 100dvh;
}
