.container {
  min-height: 100vh;
  position: relative;
  background-color: var(--background-dark);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

/* Wrapper Layout */
.wrapper {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
